.container{
    max-width: 120rem;
    width: 90%;
    margin: auto;
    color: #000;
  }
  
.layout__box {
  width: 90%;
  max-width: 48rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -46%);
  background: #ffffff;
  border-radius: 6px;
  box-shadow: 1px 1px 6px 3px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.layout__boxHeader {
  display: flex;
  padding: 1.5rem;
  background-color: var(--color-dark-light);
}

.layout__boxTitle {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.layout__body {
  margin: 3rem;
}

.auth__tagline {
  text-align: center;
  margin-bottom: 3rem;
  color: var(--color-main);
  font-weight: 500;
  font-size: 1.8rem;
}

.form__group {
  margin-bottom: 2rem;
  width: 100%;
} 

.input_form{
  border: 1px solid #696d97;
  padding: 1rem;
  border-radius: 8px;
  width: 90%;
  font-weight: 500;
  outline: none;
  margin-left: 5%;
}

input, label{
  display: block;
}

.auth_action{
  margin-top: 1.5rem;
  text-align: center;
}

.submitButton{
  margin-left: 5%;
  width: 90%; 
  cursor: pointer;
  height: 100%;
  border-radius: 8px;
  background: #10a37f;
  color: #ffffff;
  transition: 0.5s;
  border-color: rgb(22, 148, 22);
}

.submitButton:hover{
  transform: scale(1.01);
}

.label{
  margin-bottom: 1rem;
  margin-left: 5%;
}
