.chatbox{
    flex: 1;
    position: relative;
}

.chatbox[colorMode='dark']{
    background-color: #212121;
}

.welcome_container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.welcome_container[colorMode='dark']{
    color: white;
}

.welcome_container img {
    height: 20rem;
}
